---
export interface ExperienciaItemProps {
    title: string;
    description: string;
    href: string;
}

const { title, description } = Astro.props;

---
<div class="flex flex-col items-center p-6  rounded-base shadow-xs md:flex-row md:max-w-xl md:flex-row md:max-w-xl ">
    <img class="object-cover w-full rounded-base h-64 md:h-auto md:w-48 mb-4 md:mb-0" src="../../public/logo_elitelogis.png" alt="logo empresa" />
    <div class="flex flex-col justify-between md:p-4 leading-normal ">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-heading text-white">{title}</h5>
        <p class="mb-6 text-body text-white">{description}</p>
        <div>
            <button type="button" class="inline-flex items-center w-auto text-white bg-white/10 box-border border border-white/10 hover:bg-white/10 hover:bg-white/10 -strong focus:ring-4 focus:ring-brand-medium font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none transition-all duration-300 hover:scale-105">
                Leer más
                <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
            </button>
        </div>
    </div>
</div>
