---
import ExperienciaItem from "./ExperienciaItem.astro"


const EXPERIENCIA = [
    {
        
        title: 'Pasante en Sistemas',
        description:
    'Soporte en la plataforma educativa de la institución, brindando asistencia técnica a estudiantes y profesores. ',
        href: '#'
    }
]
---

<ol class="relative border-s border-default">
   {
  EXPERIENCIA.map(experiencia => (
    <li class="mb-20 ms-4">
      <ExperienciaItem {...experiencia} />
    </li>
  ))
}
    
</ol>