---
import "../styles/global.css";
---

<header class ="flex justify-center flex-row items-center py-3 w-\[1120px] mx-auto text-xl">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a class="hover:scale-110 transition" href="">Inicio</a>
        <a class="hover:scale-110 transition" href="">Sobre Mí</a>
        <a class="hover:scale-110 transition" href="">Projectos</a>
        <a class="hover:scale-110 transition" href="">Contacto</a>    
    </nav>

</header>